extends: default
rules:
  line-length:
    max: 160
    allow-non-breakable-inline-mappings: true
  document-start: disable
  truthy: disable  # GitHub Actions uses "on" as workflow trigger key
ignore:
  - "*.json"
  - "*.enc.yaml"
  - "node_modules"
  - ".git"
  - "**/templates/*.yaml"
  - "infra/k8s/argocd/application-set.yaml"  # ArgoCD ApplicationSet uses Go template syntax
